*

!apps
apps/*
!apps/engine
apps/engine/*
!apps/engine/package.json
!apps/engine/package-lock.json
!apps/engine/src
!apps/engine/src/**

!packages
packages/*
!packages/telegram-contract
packages/telegram-contract/*
!packages/telegram-contract/src
!packages/telegram-contract/src/**
!packages/telegram-session-crypto
packages/telegram-session-crypto/*
!packages/telegram-session-crypto/src
!packages/telegram-session-crypto/src/**
